/.idea/
/bin/

/api/documents/v1/documents.pb.go
/api/documents/v1/documents.pb.gw.go
/api/documents/v1/documents.pb.validate.go
/api/documents/v1/documents.swagger.json
/api/documents/v1/documents_grpc.pb.go
/api/buf.lock
/internal/interface/data/documents/mocks/
/internal/interface/app/documents/mocks/
/internal/conf/conf.pb.go
